.hero {
  &.hero--container {
    width: 100%;
    padding: 0;
    position: relative;
  }
  .hero--heading {
    bottom: .5rem;
    color: white;
    font-size: 4rem;
    position: absolute;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    width: 100%;
  }

  .hero--subheading {
    bottom: 5rem;
    color: white;
    position: absolute;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    width: 100%;
  }
}

.reverse-container {
  .hero--heading {
    bottom: 2rem;
    color: white;
    font-size: 4rem;
    position: absolute;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    width: 100%;
  }

  .hero--subheading {
    bottom: .5rem;
    color: white;
    position: absolute;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    width: 100%;
  }
}

.hero-video {
  width: 100%;
  padding: 0;
  position: relative;
}