{% spaceless %}
<h3 class="{{ heading_variant }} hero--subheading text-center" >
    <span class="heading__sub_text">{{ subtitle|default('NEED TO PASS HEADLINE VARIABLE') }}</span>
</h3>
{% endspaceless %}