{% spaceless %}
<a href="{{ url|default('http://www.example.com/')}}" class="{{ link_variant }} subheading-link link--dark-gray">
    <span>{{ label|default('CLICK ME') }}</span>
</a>
{% endspaceless %}
