{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'container-fluid'
  ]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="row mb-4">
        <div class="col-xs-12 col-sm-6">
            {% include '@components/atoms/body-text.twig' 
                with {
                    text: content.field_description
                } 
            %}
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="2-col-img">{{ content.field_image }}</div>
        </div>
    </div>
</div>