{% extends "field.html.twig" %}

{% if context.list_style %}
  {%- set wrapper_attributes = wrapper_attributes.addClass('item-list--' ~ context.list_style) %}
{% endif %}

{% block items %}
  {% if items or empty -%}
    <div{{ wrapper_attributes.addClass('item-list') }}>
      {%- if items -%}
        <ul class="w-75 mx-auto pb-3" }}>
          {%- for item in items -%}
            <li>{{ item }}</li>
          {%- endfor -%}
        </ul>
      {%- else -%}
        {{- empty -}}
      {%- endif -%}
    </div>
  {%- endif %}
{% endblock %}
