<div class="image-text-block">
    <img src="{{ img }}" class="pb-2 float-left body-img" alt="{{ label }}" title="{{ label }}">
    {% include '@components/atoms/body-text.twig' with {text: text} %}
</div>