<div class="hero hero--container">
  {% include '@components/atoms/hero.twig' with { imgsrc : imgsrc } %}
  {% include '@components/atoms/hero-page-title.twig' with { level : 1, text: head, sub: sub } %}
</div>
