{#
/**
 * @file
 * Theme override to display a views_accordion set of rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_accordion_view()
 */
#}

{# helps with making the accordion headers all over the site that are colored #}
{% set colors = {
  '#AA8ABA': 'devtype--lr',
  '#8658A7': 'devtype--mr',
  '#6C3C98': 'devtype--mhr',
  '#3C2B81': 'devtype--hr',
  '#8D9AB1': 'devtype--lnr-mu',
  '#596979': 'devtype--mnr-mu',
  '#183051': 'devtype--hnr-mu',
  '#1CA281': 'devtype--inr',
  '#75B646' : 'il-green',
  '#0C5796' : 'il-blue',
  '#515151' : 'grey',
  '#F36E2B' : 'neighborhoods',
  '#004B4C' : 'environment',
  '#9079B4' : 'jobs',
  '#C75657' : 'community',
  '#8E4A27' : 'balance',
  '#488CCB' : 'implementation',
  '#515664' : 'dark-gray',
} %}


{% if title %}
  <h3 class="js-views-accodion-group-header w-100  px-3 py-1{{ accordion_group_color ? ' slab--' ~ colors[accordion_group_color] }}">{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {# A div wrapping the row content is required for the accordion to work #}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>
{% endfor %}
