.node .field--type-image {
  float: none;
  text-align: center;
}

.field--name-field-bulleted-list {
  ul {
    column-count: 2;
  }
}


.field--name-field-featured-image {
  img {
     border: 3px solid black;
  }
}

.field--name-field-page-section > .field__item {
    margin-bottom: 24px;
}

.paragraph--type--full-width-imag {
  margin: 0px -45px;
  width: 100vw;
}
