div#block-imaginelex-branding {
  max-width: 300px;
}

/* Footer  */

.imagine-footer {
  color: white;
  background-color: #515151;
  width: 100%;
}

.footer-container {
  margin: 0px;
}

.footer-row {
  justify-content: center;
}

.footer-col {
  margin: 25px 0px;
}

.footer-form-container {
  max-width: 215px;
}

.footer-input {
  color: white;
  background-color: lightgray;
  margin: 5px 0px;
  width: 100%;
}

.footer-btn {
  float: right;
  background-color: grey;
  border: none;
}

.footer-form {
  color: white;
}

.footer-img {
  max-width: 215px;
}

.lex-footer {
  margin-top: 15px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: white;
}

@media screen and (max-width: 991px) {
  .footer-col {
    text-align: center;
  }
}


/* Header Navbar */

.headernav {
  width: 100%;
  background-color: white;
  height: 50px;
  border: 1px solid white;
}

.header-container {
  margin: 0 20px;
}

.header-row {
  margin-top: 10px;
}

.header-btn {
  font-size: 25px;
}

.header-btn > i {
  margin-left: 50px;
}

.header-utility {
  display: inline;
}

.header-search {
  border: 1px solid black;
  width: 100px;
  float: right;
}

.search-icon {
  margin-left: 5px;
}

.header-input {
  border: none;
  width: 75%;
}

.header-input:focus {
  outline: none;
}

.header-input::placeholder {
  color: black;
}

.header-logo {
  display: inline-block;
  margin: 5px 20px 0 0;
}

.header-triangle {
  font-size: 15px;
  margin: 5px 10px 0 0;
  color: #434343;
}

.header-contact > button {
  background-color: black;
  color: white;
  border: none;
  height: 100%;
  width: 125px;
  margin-left: 10px;
}

.header-hamburger {
  margin-left: 10px;
}

/* Takeover Navigation */

.takeover-nav {
  position: absolute;
  height: 100%;
  z-index: 100;
  background-color: #0c5796;
  opacity: 0.75;
  width: 100%;
  display: none;
}

.takeover-logo {
  width: 400px;
  margin-left: 30%;
  display: inline-block;
}

.takeover-close {
  display: inline;
}

.close-btn {
  color: white;
  font-size: 40px;
  margin-top: 30px;
  margin-left: 30px;
}

.close-btn, .header-hamburger {
  background-color: transparent;
  border: none;
}

.close-btn:focus, .header-hamburger:focus {
  outline: none;
}