// Font Shortcuts
$font-avenir__black : 'AvenirLTStd-Black';
$font-avenir : 'AvenirLTStd-Book';
$font-avenir__heavy : 'AvenirLTStd-Heavy';
$font-20cen : '20Century-Regular';
$font-20cen__bold : '20Century-Bold';

// color loop for easily accessing colors throughout
@function color($name: wildcat-blue, $scheme: $colors) {
  @if map-has-key($scheme, $name) {
    @return map-get($scheme, $name);
  }
  @return $color-undefined;
}


$colors: (
  il-green: #75b646,
  il-blue: #0c5796,
  grey: #515151,
  neighborhoods: #f36e2b,
  environment: #004b4c,
  jobs: #9079b4,
  community: #c23058,
  balance: #8e4a27,
  implementation: #488ccb,
  dark-gray: #515664,
  white: #fff,
  // devtype colors
  devtype--lr: #AA8ABA,
  devtype--mr: #8658A7,
  devtype--mhr: #6C3C98,
  devtype--hr: #3C2B81,
  devtype--lnr-mu: #8D9AB1,
  devtype--mnr-mu: #596979,
  devtype--hnr-mu: #183051,
  devtype--inr: #1CA281,
);

