.view-content {
  padding-bottom: 2rem;
}

.views--header {
  padding: 2rem 0;
  &:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 20%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid color(il-green); /* This creates the border. Replace black with whatever color you want. */
  }
}

.monopoly-card-A {
  border: 2px solid #f36e2b;
}

.monopoly-card-B {
  border: 2px solid #004b4c;
}

.monopoly-card-C {
  border: 2px solid #9079b4;
}

.monopoly-card-D {
  border: 2px solid #c23058;
}

.monopoly-card-E {
  border: 2px solid #8e4a27;
}

.theme-A {
  background-color: #f36e2b;
}

.theme-B {
  background-color: #004b4c;
}

.theme-C {
  background-color: #9079b4;
}

.theme-D {
  background-color: #c23058;
}

.theme-E {
  background-color: #8e4a27;
}

.card-header {
  color: white;
}

.monopoly-card {
  margin: 10px auto;
  min-width: 290px;
  .card-header {
    padding: 15px 0 10px 0 !important;
  }
}

.pillar-row {
  margin-bottom: 20px !important;
}

.pillar-content {
  font-weight: bold;
  text-transform: uppercase;
}

.theme-icon {
  & > img {
    margin-right: 10px;
    max-width: 100px;
  }
  .image-with-subheading {
    @media screen and (min-width: 768px){
      width: 200px;
      .subheading-link {
        max-width: 100%;
      }
    }
  }

}

.pillar-content > img {
  max-width: 40px;
  margin-right: 10px;
}

.view-id-placebuilder.view-display-id-block_3 {
  .ui-accordion-content {
    .slab {
      border-bottom: 1px solid lightgray;
      padding-top: 5px;
    }
  }
}
