{% extends "page.html.twig" %}

{% block content %}
  <div id="main" class="{{ container }}">
    {% if node.field_hero_vid.entity.field_media_video_file.entity.uri.value %}
      {% include '@components/molecules/hero-video.twig'
        with {
          vidsrc: file_url(node.field_hero_vid.entity.field_media_video_file.entity.uri.value),
        }
      %}
    {% elseif node.field_hero_image.entity.uri.value %}
      {% include '@components/molecules/hero-with-title.twig'
        with {
          imgsrc: file_url(node.field_hero_image.entity.uri.value|image_style('hero_image')),
          head: node.title.value,
        }
      %}
    {% endif %}
    {{ page.breadcrumb }}
    <div class="row row-offcanvas row-offcanvas-left clearfix">
        <main{{ content_attributes }}>
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
    </div>
  </div>
{% endblock %}