/* Header Navbar */

.headernav {
  width: 100%;
  background-color: white;
  height: 50px;
  border: 1px solid white;
}

.header-container {
  margin: 0 20px;
}

.header-row {
  margin-top: 10px;
}

.header-btn {
  font-size: 25px;
}

.header-btn > i {
  margin-left: 50px;
}

.header-utility {
  display: inline;
}

.header-search {
  border: 1px solid black;
  float: right;
}

.search-icon {
  margin-left: 5px;
}

.header-input {
  border: none;
  width: 75%;
}

.header-input:focus {
  outline: none;
}

.header-input::placeholder {
  color: black;
}

.header-logo {
  display: inline-block;
  margin: 5px 20px 0 0;
}

.header-logos {
  text-align: center;
}

.imagine-logo > .header-triangle {
  color: #0c5796;
}

.inform-logo > .header-triangle {
  color: #515151;
}

.implement-logo > .header-triangle {
  color: #75b646;
}

.header-triangle {
  font-size: 15px;
  margin: 5px 10px 0 0;
}

.header-contact > button {
  background-color: black;
  color: white;
  border: none;
  width: 125px;
  float: right;
}

.header-hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.header-hamburger:focus {
  outline: none !important;
}

@media (max-width: 576px) {
  .header-contact {
    display: none;
  }
  .header-hamburger {
    margin-left: 0;
  }
  .header-container {
    margin: 0;
  }
  .header-btn {
    padding-left: 0 !important;
  }
}
