<div class="imagine-footer">
    <div class="footer-container">
        <div class="row footer-row">
            <div class="col-xs-12 col-md-2 footer-col">
                <img class="footer-img" src="/themes/custom/imaginelex/Imagine-Lex-White.png">
                <p>LFUCG Division of Planning<br/>
                101 E Vine St Suite 700<br/>
                Lexington, KY 40507</p>
            </div>
            <div class="col-xs-12 col-md-2 footer-col">
                <img class="lex-footer footer-img" src="/themes/custom/imaginelex/Lex-Horse-White.png">
                <p>Lexington-Fayette Urban County Government<br/>
                200 E Main St<br/>
                Lexington, KY 40507 lexingtonky.gov/planning</p>
            </div>
            <div class="col-xs-2 footer-col">
                <div class="footer-form-container">
                    <form class="footer-form">
                        <input class="footer-input" value="Name*"></input>
                        <input class="footer-input" value="Email*"></input>
                        <textarea rows="5" class="footer-input" placeholder="Message" value="Message"></textarea>
                        <button class="footer-btn" type="submit">Send Us a Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
