<div class="slab slab--dark-gray p-5">
    <div class="footer-container">
        <div class="row">
            <div class="col-xs-12 col-md-3 offset-md-3">
                <img class="img-fluid w-50" src="/themes/custom/imaginelex/Imagine-Lex-White.png">
                <p>LFUCG Division of Planning<br/>
                101 E Vine St Suite 700<br/>
                Lexington, KY 40507</p>
                <a href="mailto:imagine@lexingtonky.gov" class="contact-us" target="_blank">CONTACT US</a>
            </div>
            <div class="col-xs-12 col-md-4">
                <img class="img-fluid w-50" src="/themes/custom/imaginelex/Lex-Horse-White.png">
                <p>Lexington-Fayette Urban County Government<br/>
                200 E Main St<br/>
                Lexington, KY 40507</p>
                <a href="https://www.lexingtonky.gov/planning" target="_blank">www.lexingtonky.gov/planning</a>
            </div>
        </div>
    </div>
</div>
