<div class="headernav">
    <div class="header-container">
        <div class="row header-row">
            <div class="col-4 header-btn">
                <i class="fas fa-bars"></i>
            </div>
            <div class="col-4 header-logos">
                    <div class="header-logo"><span class="header-triangle"><i class="fas fa-play"></i></span>Imagine</div>
                    <div class="header-logo"><span class="header-triangle"><i class="fas fa-play"></i></span>Inform</div>
                    <div class="header-logo"><span class="header-triangle"><i class="fas fa-play"></i></span>Implement</div>
            </div>
            <div class="col-2 header-utility">
                <div class="header-search" id="header-search">
                    <form>
                        <i class="fas fa-search search-icon"></i>
                        <input class="header-input" id="header-input" placeholder="SEARCH" onFocus="searchExpand()" onFocusOut="searchCollapse()"></input>
                    </form>
                </div>
            </div>
            <div class="col-2 header-contact">
                <button>CONTACT US</button>
            </div>
        </div>
    </div>
</div>