@import './design_variables';
@import './slab';
@import './views';
@import './fonts';
@import './links';
@import './atoms/heading';
@import './atoms/hero';
@import './components/footer';
@import './components/header';
@import './components/image_card__with_subheading';
@import './components/body_text_with_image';
@import './components/takeover_nav';
@import './components/theme_cards';
@import './fields/multi-fields';
@import './fields/field';
@import './views/accordion';
@import './views/grid';

div#block-imaginelex-branding {
  max-width: 300px;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

#backtotop {
  background: url(../images/backtotop.png) no-repeat center center;
  background-size: 70px 85px;
  bottom: 20px;
  cursor: pointer;
  display: none;
  height: 85px;
  position: fixed;
  right: 20px;
  text-indent:-9999px;
  width: 70px;
  z-index: 300;
  @media screen and (max-width: 500px) {
    background-size: 30px 45px;
    bottom: 10px;
    height: 45px;
    right: 10px;
    width: 30px;
  }
}
