<div class="card-body-row">
    <div class="pillar-row">
        <div class="pillar-content">
            <img src={{pillar_icon}}>
            {{pillar_title}} ({{pillar_abrv}})
        </div>
    </div>
</div>