{% spaceless %}
<h{{ level|default(1) }} class="{{ heading_variant }} text-center" >
    <span class="heading__text">{{ headline|default('NEED TO PASS HEADLINE VARIABLE') }}</span>
</h{{ level|default(1) }}>
{% endspaceless %}
