{% spaceless %}
{% if sub %}
<h3 class="{{ heading_variant }} hero--subheading text-center" >
    <span class="heading__sub_text">{{ sub|default('NEED TO PASS HEADLINE VARIABLE') }}</span>
</h3>
{% endif %}
<h1 class="{{ heading_variant }} hero--heading text-center" >
    <span class="heading__text">{{ text|default('NEED TO PASS HEADLINE VARIABLE') }}</span>
</h1>
{% endspaceless %}
