/* Header Navbar */

.headernav {
  width: 100%;
  background-color: white;
  height: 50px;
  border: 1px solid white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
  -webkit-transition:  .75s;
  -moz-transition:  .75s;
  -o-transition:  .75s;
  -ms-transition:  .75s;
  transition: .75s;
}

.header-container {
  margin: 0 20px;
}

.header-row {
  line-height: 100%;
}

.header-btn {
  font-size: 25px;
  margin-top: 10px;
}

.header-btn > i {
  margin-left: 50px;
}

.header-utility {
  display: inline;
}

.header-search {
  border: 1px solid black;
  float: right;
}

.search-icon {
  margin-left: 5px;
}

.header-input {
  border: none;
  width: 75%;
}

.header-input:focus {
  outline: none;
}

.header-input::placeholder {
  color: black;
}

.header-logo {
  display: inline-block;
}

.header-logos {
  text-align: center;
}

.header-img {
  max-height: 50px;
  display: block;
  margin: auto;
}

.header-icon {
  text-align: right;
  font-size: 25px;
  margin-top: 11px;
  a {
    color: black;
  }
}

.imagine-logo > .header-triangle {
  color: #0c5796;
}

.inform-logo > .header-triangle {
  color: #515151;
}

.implement-logo > .header-triangle {
  color: #75b646;
}

.header-triangle {
  font-size: 15px;
  margin: 5px 10px 0 0;
}

.header-contact > button {
  background-color: black;
  color: white;
  border: none;
  width: 125px;
  float: right;
}

.header-hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-hamburger:focus {
  outline: none !important;
}

@media (max-width: 576px) {
  .header-contact {
    display: none;
  }
  .header-hamburger {
    margin-left: 0;
  }
  .header-container {
    margin: 0;
  }
}

.sticky-header {
  nav {
    padding: 0;
  }
}

.user-logged-in .headernav {
  margin-top: 36px;
}

.toolbar-tray-open .headernav {
  margin-top: 75px;
}


