.takeover-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: #0c5796,;
    visibility: hidden;
    opacity: 0;
    -webkit-transition:  .75s;
    -moz-transition:  .75s;
    -o-transition:  .75s;
    -ms-transition:  .75s;
    transition: .75s;
}

.takeover-logo {
   img {
    max-width: 250px;
   }
}

.close-btn {
    background-color: transparent;
    color: white;
    border: none;
    margin-top: 10px;
}

.close-btn:hover {
    cursor: pointer;
}

.close-btn:focus {
    outline: none !important;
}

.nav-headings {
    color: white;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    width: 75%;
    margin: auto;
}

.nav-subheadings, .nav-subheadings-list {
    text-align: left;
    list-style-type: none;
    h4, h5 {
        color: white;
    }
}

.nav-subheadings {
    margin: 30px;
}

.nav-subheadings-list {
    margin: 30px 30px 30px 15px;
}

.link-list > .nav-subheadings-list {
    margin: 10px 30px 10px 15px !important;
}

.nav-sublinks {
    text-align: left;
    list-style-type: none;
    margin: 10px 0;
    h5 {
        color: white;
    }
}

.closed-icon {
    display: inline-block;
}

.expanded-icon {
    display: none;
}

.link-list {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: 0.5s;
}

.takeover-link:hover {
    cursor: pointer;
    h4, h5 {
        text-decoration: underline;
    }
}

.link-sublist {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: 0.5s;
}

.activated {
    .link-list {
        max-height: 800px; 
    }
    .link-sublist {
        max-height: 800px;
    }
    .closed-icon {
        display: none;
    }
    .expanded-icon {
        display: inline-block;
    }
}

.takeover-placeholder {
    color: white;
    margin: 30px;
    font-style: italic;
}