{% extends "page.html.twig" %}

{% block content %}
  <div id="main" class="{{ container }}">
    {% if policy_hero %}
      {% include '@components/molecules/hero-with-title.twig'
        with {
          imgsrc: file_url(policy_hero|image_style('hero_image')),
          head: policy_name,
        }
      %}
    {% endif %}
    {{ page.breadcrumb }}
    <div class="row row-offcanvas row-offcanvas-left clearfix">
        <main{{ content_attributes }}>
          <section class="section col-lg-8 offset-lg-2">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
    </div>
  </div>
{% endblock %}